@import "./variables.scss";
@import "./reset.scss";
@import "./effects.scss";

.b-app {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
    font-size: 16px;
}

.b-header {
    width: 100%;
    height: $main-header-hight;
    padding: 0 20px;
    background-color: #f2f4f7;
    &__logo {
        font: bold 1.4em/#{$main-header-hight} -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    }
}

.b-upload-box {
    background-color: white;
    width: 100%;
    top: 54px;
    height: calc(100% - 54px);
    padding: 25px;
    &__handler {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border: 3px dashed $main-blue-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $main-object-border-radius;
    }
    &__status {
        width: 100%;
        height: 100%;
        background-size: 33.333% 33.333%;
        background-position: center;
        background-image: url('../images/photo.svg');
        background-repeat: no-repeat;
        &--loading {
            background-image: url('../images/progress.svg');
            animation-name: spin;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        &--drop {
            background-image: url('../images/download.svg');
        }
    }
    &__handler, &__status {
        opacity: 0.66;
    }
}

.b-container {
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 1px solid black;
    left: -1px;
    transition: 0.35s ease-in;
     .b-darkness {
        width: 100%;
        height: 100%;
        display: none;
        opacity: 1;
    }
    &--active {
        transition: 0.75s ease-out;
        transform: translateX(30%);
        .b-darkness {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            background-color: black;
            opacity: .39;
        }
    }
}

.b-results {
    width: 30%;
    left: -30%;
    height: 100%;
    position: absolute;
    overflow: auto;
}

.b-result-list {
    list-style: none;
    &__item {
        position: relative;
        width: 94%;
        height: auto;
        margin: 3%;
        &--correct {
            .b-smart-img-status {
                background: url(../images/correct.svg) center center no-repeat;
            }
        }
        &--incorrect {
            .b-smart-img-status {
                background: url(../images/incorrect.svg) center center no-repeat;
            }
        }
        &--incorrect, &--correct {
            .b-smart-img-status {
                background-size: 50% 50%;
            }
        }
    }
}

.b-smart-img {
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px -5px black;
    &-status {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.45;
    }
}

.b-results::-webkit-scrollbar { 
    display: none; 
}

.b-files {
    display: none;
}
