.b-results {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    &--active {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: darken;
        animation-duration: .55s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
    &--image {
        .b-results__image {
            display: block;
        }
        .b-results__loading {
            display: none;
        }
    }
    &__close {
        width: 20px;
        height: 20px;
        position: fixed;
        top: 17px;
        right: 20px;
        background: url(../images/incorrect.svg) center center no-repeat;
        cursor: pointer;
        background-size: 20px 20px;
    }
    &__image {
        display: none;
        height: auto;
        max-width: 100%;
    }
    &__loading {
        height: 50%;
        width: 50%;
        background: transparent url(../images/progress.svg) center center no-repeat;
        background-size: 50% 50%;
        animation-name: spin;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        opacity: 0.8;

    }
}
