.b-upload {
    max-width: 520px;
    background-color: #fff;
    box-shadow: 3px 3px 20px -5px black;
    &__header {
        height: 55px;
        font-size: 1.1em;
        line-height: 55px;
        padding: 0 20px;
        border-bottom: 1px solid #e7e8ec;
        background: #f2f4f7 url(../images/correct.svg) no-repeat;
        background-position:  right 15px top 15px;
        background-size: 25px 25px;
    }
    &__body {
        text-align: center;
        padding: 20px;
    }
    &-box {
        padding: 1px;
        border: 3px solid transparent;
        &-desc {
            line-height: 2.8em;
            font-size: 1em;    
        }
    }
    &-box--active {
        background: url(../images/download.svg) center center no-repeat;
        background-size: 40% 40%;
        border: 3px dashed $main-blue-color;
        * {
            visibility: hidden;
        }
    }
    &-btn {
        padding: 10px 30px 10px;
        margin: 20px 5px 5px 5px;
        font-size: 0.9em;
        display: inline-block;
        outline: none;
        vertical-align: top;
        cursor: pointer;
        line-height: 1em;
        text-align: center;
        background-color: #5e81a8;
        color: #fff;
        border: 0;
        border-radius: 2px;
        &:hover {
            background-color: #6888ad;
        }
        &[disabled] {
            opacity: 0.3;
        }
    }
    &__footer {
        border-top: 1px solid #e7e8ec;
        height: 55px;
        font-size: 0.9em;
        text-align: center;
        line-height: 55px;
        color: grey;
        padding: 0 20px;
    }
}
