{% extends "layout.html" %}
{% block body %}
    <main class="b-container">
        <aside class="b-results">
            <ul class="b-result-list"></ul>
        </aside>
        <header class="b-header">
            <div class="b-header__logo">facelook</div>
        </header>
        <div class="b-upload-box">
            <label class="b-upload-box__handler">
                <div class="b-upload-box__status"></div>
                <input id="b-file-upload" class="b-files" type="file" multiple>
            </label>
        </div>
        <div class="b-darkness"></div>
    </main>
{% endblock %}
