<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>facelook</title>
  <link rel="shortcut icon" href="/static/favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
  <div class="b-app">
    <header class="b-header">
      <div class="b-header__logo">facelook</div>
    </header>
    <section class="b-face-detection">
      <div class="b-upload">
        <header class="b-upload__header">Upload a photo</header>
        <div class="b-upload__body">
          <div class="b-upload-box" id="js-drop-files">
            <div class="b-upload-box-desc">
              <span>
              Please upload a photo to detect presence of people.
              </span>
              <br>
              <br>
              <span>
              You can drop a photo here, if your device supports <b>Drag &amp; Drop</b> 
              <br>
              or upload an image in JPG, GIF or PNG formats.
              </span>
              <br>
            </div>
            <input type="button" class="b-upload-btn" 
              onclick="document.getElementById('js-files').click()"
              value="Select a file"
            />
            <input id="js-files" class="g-hidden" type="file" multiple="true">
          </div>
        </div>
        <footer class="b-upload__footer">
          If you have any problems with your upload, 
          try using a smaller picture.
        </footer>
      </div>
    </section>
    <footer class="b-powered-by">Powered by root@toor.com</footer>
    <section class="b-results" id="js-results">
      <div class="b-results__images" id="js-results__images"></div>
      <div class="b-results__close" id="js-results__close"></div>
    </section>
  </div>
  <script src="/static/javascript/bundle.js"></script>
</body>
</html>
