{% extends "layout.html" %}
{% block body %}
    <aside class="b-results">
        <ul class="b-result-list">
            <li class="b-result-list__item b-result-list__item--correct">
                <img class="b-smart-img" src="{{ url_for('static', filename='images/img1.jpg') }}">
                <div class="b-smart-img-status"></div>
            </li>
        </ul>
    </aside>
    <main class="b-container">
        <header class="b-header">
            <div class="b-header__logo">facelook</div>
        </header>
        <div class="b-upload-box">
            <label class="b-upload-box__handler">
                <div class="b-upload-box__status"></div>
                <input id="b-file-upload" class="b-files" type="file" multiple>
            </label>
        </div>
        <div class="b-darkness"></div>
    </main>
{% endblock %}
